<section class="character">
  <figure data-rag-toggle-class-on-click='flipped'>
    <!-- todo: http://www.bennadel.com/blog/2498-Lazy-Loading-Image-With-AngularJS.htm -->
    <img ng-src="{{ item.url }}" />
    <figcaption>
      <ul>
        <li>{{ item.font.name }}</li>
        <li>{{ item.font.designer }}</li>
        <li style="margin-bottom: 30px"><a href="">{{ item.font.publisher }}</a>, {{ item.font.year }}</li>
        <li>bra <img src="" style="background-color: green; width: 50px; height: 10px; width: 100px; display: inline; position: static" /> 80%</li>
        <li>ari <img src="" style="background-color: green; width: 50px; height: 10px; width: 100px; display: inline; position: static" /> 10%</li>
        <li>hel <img src="" style="background-color: green; width: 50px; height: 10px; width: 100px; display: inline; position: static" /> &nbsp;5%</li>
      </ul>
    </figcaption>
  </figure>
</section>